.input-group {
  justify-content: center;
  padding-bottom: 5px; }

input {
  text-align: center;
  border-width: 1px;
  font-size: .90rem; }
.btn {
    color: black;
    background-color: #e79d35;
    border-color: #e79d35; 
    min-height: 23px;
    min-width: 40px;
    padding: 10px 25px;
    border-radius: 2px;
    padding: 0.1rem 0.3rem;
    font-size: .85rem;}
    .btn :hover {

        transform: scale(1.05);
        transition: all 0.25s; 
        background-color: #e79d35;}
        
.btn-sm {
    padding: 0.1rem 0.3rem;
    font-size: 1rem; }
